<div class="panel-heading bg-primary">
    <h3 class="panel-title"> Documento #000123</h3>
</div>

<div class="panel panel-default form-inline">
    <div class="panel-heading">

        <div class="form-group">
            <label for="CustomerEdit">Nombre del cliente</label>
            @Html.DevExpress().ButtonEdit(settings =>
            {
                settings.Name = "CustomerEdit";
                //settings.ControlStyle.CssClass = "form-control";
                settings.Width = 400;
                settings.Properties.Buttons.Add(new EditButton());
                settings.Properties.ClientSideEvents.ButtonClick = "buttonEdit1_ButtonClick";
            }).GetHtml()

        </div>

        <div class="form-group">
            <label for="ContactEdit">Persona de Contacto</label>
            @Html.DevExpress().ButtonEdit(settings =>
            {
                settings.Name = "ContactEdit";
                //settings.ControlStyle.CssClass = "form-control";
                settings.Width = 200;
                settings.Properties.Buttons.Add(new EditButton());
                settings.Properties.ClientSideEvents.ButtonClick = "buttonEdit1_ButtonClick";
            }).GetHtml()

        </div>

        <div class="form-group">
            <label for="ProjectEdit">Nombre de proyecto</label>
            @Html.DevExpress().ButtonEdit(settings =>
            {
                settings.Name = "ProjectEdit";
                //settings.ControlStyle.CssClass = "form-control";
                settings.Width = 400;
                settings.Properties.Buttons.Add(new EditButton());
                settings.Properties.ClientSideEvents.ButtonClick = "buttonEdit1_ButtonClick";
            }).GetHtml()

        </div>

        <div class="form-group pull-right">
            <div class="row pull-right text-muted">Saldo Actual</div>
            <div class="row">
                <h1>
                    $ 123.456.00
                </h1>
            </div>
        </div>
    </div>
    <div class="panel-body">










    </div>
    <div class="panel-footer">


        @Html.DevExpress().PageControl(settings =>
        {
            settings.Name = "DocumentPageControl";
            settings.TabPages.Add("Contenido").SetContent(() =>
            {
                Html.RenderPartial("DocumentTemplate/_DocumentGridView");
            });
            settings.TabPages.Add("Direccion").SetContent(() =>
            {
                ViewContext.Writer.Write("Page content 1");
            });
            settings.TabPages.Add("Notas").SetContent(() =>
            {
                ViewContext.Writer.Write("Page content 2");
            });
        }).GetHtml()






    </div>
    <div class="panel-body">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="form-group-lg">
                    <label class="text-muted"><small>NOTAS DEL USUARIO</small></label>
                    <textarea rows="4" style="min-width: 100%" class="form-control "></textarea>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="EmployeeEdit">Vendedor</label>
                    @Html.DevExpress().ButtonEdit(settings =>
                    {
                        settings.Name = "EmployeeEdit";
                        settings.Width = 200;
                        settings.Properties.Buttons.Add(new EditButton());
                        settings.Properties.ClientSideEvents.ButtonClick = "buttonEdit1_ButtonClick";
                    }).GetHtml()

                </div>
            </div>

            <div class="col-md-2 pull-right">
                <div class="row">
                    <div class="form-group pull-right">
                        @Html.DevExpress().TextBox(settings => { settings.Name = "SubTotalTextBox"; }).GetHtml()
                    </div>
                    <div class="form-group pull-right">
                        <p class="form-control-static">SubTotal &nbsp;</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pull-right">
                        @Html.DevExpress().TextBox(settings =>
                        {
                            settings.Name = "DiscountTextBox";
                            settings.Width = 130;
                            settings.ControlStyle.CssClass = "pull-right";
                        }).GetHtml()

                        @Html.DevExpress().TextBox(settings =>
                        {
                            settings.Name = "DiscountPercentageTextBox";
                            settings.Width = 40;
                            settings.ControlStyle.CssClass = "pull-right";
                        }
                            ).GetHtml()
                    </div>
                    <div class="form-group pull-right">
                        <p class="form-control-static">Descuento &nbsp;</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pull-right">
                        @Html.DevExpress().TextBox(settings =>
                        {
                            settings.Name = "TaxTextBox";
                            settings.Width = 130;
                            settings.ControlStyle.CssClass = "pull-right";
                        }).GetHtml()
                        @Html.DevExpress().TextBox(settings =>
                        {
                            settings.Name = "TaxPercentageTextBox";
                            settings.Width = 40;
                            settings.ControlStyle.CssClass = "pull-right";
                        }
                            ).GetHtml()
                    </div>
                    <div class="form-group pull-right">
                        <p class="form-control-static">Impuesto &nbsp;</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pull-right">
                        @Html.DevExpress().TextBox(settings => { settings.Name = "TotalTextBox"; }).GetHtml()
                    </div>
                    <div class="form-group pull-right">
                        <p class="form-control-static" style="font-weight: 600; font-size: 16px">Total &nbsp;</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>