<div class="panel-heading bg-primary">
    <h3 class="panel-title"> Documento #000123</h3>
</div>

<div class="panel panel-default form-inline">
    <div class="panel-heading row">

        <div class="col-md-9">

            <div class="form-group">
                <label for="CustomerEdit">Nombre del cliente</label>
                @Html.DevExpress().ButtonEdit(settings =>
                {
                    settings.Name = "CustomerEdit";
                    //settings.ControlStyle.CssClass = "form-control";
                    settings.Width = 400;
                    settings.Properties.Buttons.Add(new EditButton());
                    settings.Properties.ClientSideEvents.ButtonClick = "buttonEdit1_ButtonClick";
                }).GetHtml()

            </div>

            <div class="form-group">
                <label for="ContactEdit">Persona de Contacto</label>
                @Html.DevExpress().ButtonEdit(settings =>
                {
                    settings.Name = "ContactEdit";
                    //settings.ControlStyle.CssClass = "form-control";
                    settings.Width = 200;
                    settings.Properties.Buttons.Add(new EditButton());
                    settings.Properties.ClientSideEvents.ButtonClick = "buttonEdit1_ButtonClick";
                }).GetHtml()

            </div>

            <div class="form-group">
                <label for="ProjectEdit">Nombre de proyecto</label>
                @Html.DevExpress().ButtonEdit(settings =>
                {
                    settings.Name = "ProjectEdit";
                    //settings.ControlStyle.CssClass = "form-control";
                    settings.Width = 400;
                    settings.Properties.Buttons.Add(new EditButton());
                    settings.Properties.ClientSideEvents.ButtonClick = "buttonEdit1_ButtonClick";
                }).GetHtml()

            </div>
        </div>
        <div class="col-md-3">

            <div class="form-group pull-right">
                <div class="row pull-right text-muted">Saldo Actual</div>
                <div class="row">
                    <h1>
                        $ 123.456.00
                    </h1>
                </div>
            </div>
            </div>
        </div>




    <div class="panel-body">




        

    </div>
    <div class="panel-body">
       
        <div class="form-group">
            <label for="ReferenceEdit">Referencia</label>
            @Html.DevExpress().ButtonEdit(settings =>
       {
           settings.Name = "RefereceEdit";
           //settings.ControlStyle.CssClass = "form-control";
           settings.Width = 150;
           settings.Properties.NullText = "00012345";
           settings.Properties.Buttons.Add(new EditButton());
           settings.Properties.ClientSideEvents.ButtonClick = "buttonEdit1_ButtonClick";
       }).GetHtml()
        </div>

        <div class="form-group">
            <label for="CurrencyEdit">Moneda</label>
            @Html.DevExpress().ComboBox(settings =>
   {
       settings.Name = "CurrencyEdit";
       settings.Properties.Items.Add("Dolares");
       settings.Properties.Items.Add("Colones");
       settings.Properties.Items.Add("Euros");
       settings.Width = 150;
       settings.SelectedIndex = 2;
   }).GetHtml()
        </div>

        <div class="form-group">
            <label for="RateEdit">Tipo Cambio</label>
            @Html.DevExpress().TextBox(settings =>
   {
       settings.Name = "RateEdit";
       settings.Text = "123456";
       settings.Properties.DisplayFormatString = "C";
       settings.ReadOnly = true;
       settings.Enabled = false;
       settings.Width = 150;
       
   }).GetHtml()
        </div>

        <div class="form-group">
            <label for="TermsEdit">Moneda</label>
            @Html.DevExpress().ComboBox(settings =>
   {
       settings.Name = "TermsEdit";
       settings.Properties.Items.Add("Contado");
       settings.Width = 150;
       settings.SelectedIndex = 2;
   }).GetHtml()
        </div>

        <div class="form-group">
            <label for="DateCustomEdit">Fecha Customisable</label>
            @Html.DevExpress().DateEdit(settings =>
   {
       settings.Name = "DateCustomEdit";
       settings.Properties.EditFormat = EditFormat.Custom;
       settings.Date = new DateTime(2009, 11, 2, 9, 23, 0);
       settings.Width = 150;
       settings.Properties.TimeSectionProperties.
         TimeEditProperties.EditFormatString = "hh:mm tt";
   }).GetHtml()
        </div>

        <div class="form-group">
            <label for="DocumentDateEdit">Fecha Customisable</label>
            @Html.DevExpress().DateEdit(settings =>
   {
       settings.Name = "DocumentDateEdit";
       settings.Properties.EditFormat = EditFormat.Custom;
       settings.Date = new DateTime(2009, 11, 2, 9, 23, 0);
       settings.Width = 150;
       settings.Properties.TimeSectionProperties.
         TimeEditProperties.EditFormatString = "hh:mm tt";
   }).GetHtml()
        </div>

        <div class="form-group">
            <label for="SystemDateEdit">Fecha Customisable</label>
            @Html.DevExpress().DateEdit(settings =>
   {
       settings.Name = "SystemDateEdit";
       settings.Properties.EditFormat = EditFormat.Custom;
       settings.Date = new DateTime(2009, 11, 2, 9, 23, 0);
       settings.Width = 150;
       settings.Properties.TimeSectionProperties.
         TimeEditProperties.EditFormatString = "hh:mm tt";
   }).GetHtml()
        </div>

        <div class="form-group">
            <label for="NumberDocumentEdit">Documento #</label>
            @Html.DevExpress().ButtonEdit(settings =>
       {
           settings.Name = "NumberDocumentEdit";
           //settings.ControlStyle.CssClass = "form-control";
           settings.Width = 150;
           settings.Properties.NullText = "00012345";
           settings.Properties.Buttons.Add(new EditButton());
           settings.Properties.ClientSideEvents.ButtonClick = "buttonEdit1_ButtonClick";
       }).GetHtml()
        </div>

        <div class="form-group">
            <label for="EstateEdit">Estado</label>
            @Html.DevExpress().TextBox(settings =>
       {
           settings.Name = "Estate";
           settings.Text = "Pendiente";
           settings.Properties.DisplayFormatString = "C";
           settings.ReadOnly = true;
           settings.Enabled = false;
           settings.Width = 150;

       }).GetHtml()
        </div>

        </div>

    <div class="panel-footer">


        @Html.DevExpress().PageControl(settings =>
        {
            settings.Name = "DocumentPageControl";
            settings.TabPages.Add("Contenido").SetContent(() =>
            {
                Html.RenderPartial("DocumentTemplate/_DocumentGridView");
            });
            settings.TabPages.Add("Direccion").SetContent(() =>
            {
                ViewContext.Writer.Write("Page content 1");
            });
            settings.TabPages.Add("Notas").SetContent(() =>
            {
                ViewContext.Writer.Write("Page content 2");
            });
        }).GetHtml()






    </div>
    <div class="panel-body">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="form-group-lg">
                    <label class="text-muted"><small>NOTAS DEL USUARIO</small></label>
                    <textarea rows="4" style="min-width: 100%" class="form-control "></textarea>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="EmployeeEdit">Vendedor</label>
                    @Html.DevExpress().ButtonEdit(settings =>
                    {
                        settings.Name = "EmployeeEdit";
                        settings.Width = 200;
                        settings.Properties.Buttons.Add(new EditButton());
                        settings.Properties.ClientSideEvents.ButtonClick = "buttonEdit1_ButtonClick";
                    }).GetHtml()

                </div>
            </div>

            <div class="col-md-4 pull-right">
                <div class="row">
                    <div class="form-group pull-right">
                        @Html.DevExpress().TextBox(settings => { settings.Name = "SubTotalTextBox"; }).GetHtml()
                    </div>
                    <div class="form-group pull-right">
                        <p class="form-control-static">SubTotal &nbsp;</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pull-right">
                        @Html.DevExpress().TextBox(settings =>
                        {
                            settings.Name = "DiscountTextBox";
                            settings.Width = 130;
                            settings.ControlStyle.CssClass = "pull-right";
                        }).GetHtml()

                        @Html.DevExpress().TextBox(settings =>
                        {
                            settings.Name = "DiscountPercentageTextBox";
                            settings.Width = 40;
                            settings.ControlStyle.CssClass = "pull-right";
                        }
                            ).GetHtml()
                    </div>
                    <div class="form-group pull-right">
                        <p class="form-control-static">Descuento &nbsp;</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pull-right">
                        @Html.DevExpress().TextBox(settings =>
                        {
                            settings.Name = "TaxTextBox";
                            settings.Width = 130;
                            settings.ControlStyle.CssClass = "pull-right";
                        }).GetHtml()
                        @Html.DevExpress().TextBox(settings =>
                        {
                            settings.Name = "TaxPercentageTextBox";
                            settings.Width = 40;
                            settings.ControlStyle.CssClass = "pull-right";
                        }
                            ).GetHtml()
                    </div>
                    <div class="form-group pull-right">
                        <p class="form-control-static">Impuesto &nbsp;</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pull-right">
                        @Html.DevExpress().TextBox(settings => { settings.Name = "TotalTextBox"; }).GetHtml()
                    </div>
                    <div class="form-group pull-right">
                        <p class="form-control-static" style="font-weight: 600; font-size: 16px">Total &nbsp;</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>