@using DataObjects.Models.PivotGrid
@model PandoraWeb.Models.BusinessIntelligence.BusinessIntelligenceModel

<div class="panel-heading">
    <div class="form-group">
        <label for="dateStart">Fecha Inicio</label>
    </div>
    <div class="form-group">
        @Html.DevExpress().DateEdit(
            settings =>
            {
                settings.Name = "dateStart";
                settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
                settings.Date = @Model.DateStart;
            }
            ).GetHtml()
    </div>
    <div class="form-group">
        <label for="dateStart">Fecha Final</label>
    </div>
    <div class="form-group">
        @Html.DevExpress().DateEdit(
            settings =>
            {
                settings.Name = "dateEnd";
                settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
                settings.Date = @Model.DateEnd;
            }
            ).GetHtml()
    </div>
    <div class="form-group">

        <button type="submit" name="Update" class="btn btn-primary">Actualizar</button>

    </div>
    <div class="form-group pull-right">
        <label for="PivotGridExportFormat">Exportar</label>
        @Html.DropDownList("ExportFormat", EnumHelper.GetSelectList(typeof (ExportFormats)), "", new {@class = "form-control"})

        <button type="submit" name="ExportTo" class="btn btn-success">Export</button>

    </div>
</div>
